.text-ellipsis {
  text-overflow ellipsis
  white-space nowrap
  width 100%
  overflow hidden
}

.flickr-item {
  margin 10px 0
  .details > * {
    display inline-block
    margin 0 10px 0 0
  }
  .published-date {
    display block
  }
  @media (min-width: 801px) {
    .photo-author {
      float left
      margin-right 10px
    }

    .published-date {
      display inline-block
    }
  }
}

.item-details {
  h2 {
    margin-top 0
  }
  .content {
    margin-top 20px
  }
  .metadata > *:not(:last-child):after {
    content '|'
    display inline-block
  }
  .tags {
    padding 0
    li {
      padding 0
      display inline-block
      list-style none
      margin 0 10px 0 0
    }
  }
}

.view-container {
  border 1px solid black
  padding 10px
}

//@TODO If we have access to bootstrap source, we could change breakpoint value, or add new one
@media (max-width: 400px) {
  [class^='col-xs'] {
    float none
    width auto
  }
}
