<input type="text" ng-model-options="{debounce: 500}" ng-model="feedFilter" placeholder="Search by comma separated tags (e.g. 'potato, food')" class="form-control">

<article ng-repeat="item in (filteredItems  = (items | filterByTags:feedFilter))" class="row flickr-item">
  <div class="col-xs-3">
    <a ng-href="/tag/{{tag}}/{{item._id}}" >
      <img class="img-responsive" ng-src="{{item.media.m}}" alt="{{item.title}}">
    </a>
  </div>
  <div class="col-xs-9">
    <a ng-href="/tag/{{tag}}/{{item._id}}" >
      <h4 class="text-ellipsis">{{item.title}}</h4>
    </a>
    <div class="details">
      <span class="published-date">Published: {{item.published | date : "d MMM yyyy 'at' HH:mm"}}</span>
      <a class="photo-author" ng-href="https://www.flickr.com/photos/{{item.author_id}}" target="_blank">Photo author</a>
      <a ng-href="{{item.link}}" target="_blank">View on Flickr</a>
    </div>
  </div>
</article>

<div ng-if="filteredItems.length == 0" class="text-center">No data</div>

