<article class="item-details" ng-if="item">
  <header class="clearfix">

    <a ng-href="tag/{{tag}}" class="pull-right btn btn-primary">Back</a>

    <div class="pull-left">

      <a ng-href="{{item.link}}" target="_blank">
        <h2>{{item.title}}</h2>
      </a>

      <div class="metadata">
        <span>
          <a ng-href="https://www.flickr.com/photos/{{item.author_id}}" target="_blank">
            Photo author
          </a>
        </span>

        <span>Published: {{item.published | date : "d MMM yyyy 'at' HH:mm"}}</span>
      </div>
    </div>
  </header>

  <div class="row content">
    <div class="col-sm-3">
      <img class="img-responsive" ng-src="{{item.media.m}}" alt="{{item.title}}">
    </div>
    <div class="col-sm-9">
      <p ng-bind-html="item._description"></p>

      <ul class="tags">
        <li>Tags:</li>
        <li ng-repeat="tag in item._tags">
          <a ng-href="/tag/{{tag}}">{{tag}}</a>
        </li>
      </ul>
    </div>


  </div>

</article>

<div ng-if="!item">Loading...</div>
